<a href="https://colab.research.google.com/github/RamanBaghel/excercise/blob/main/Basics_Project_on_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
#Temperature Converter

C = 32
F = (C * 9/5) + 32
print('Enter The Temperature:',(C))
print('Temperature in Fahrenheit is:',(F))

Enter The Temperature: 32
Temperature in Fahrenheit is: 89.6

In [72]:
#Even or Odd Checker
# Use % (modulus operator)

X = 17
C = (X % 2)
if C == 0:
 print('Even')
elif C == 1:
  print('Odd')

Odd

In [73]:
#Simple To-Do List (using list)
#Use a loop (for or while) to ask for tasks

tasks = []

while True:
  task = input('Enter a task (or type "quit" to exit):')
  if task == 'quit':
    break
  append = tasks.append(task)
  print('your to-do list:' ,tasks)

Enter a task (or type "quit" to exit):quit

In [74]:
#word counter

Sentence = []
ask = input('Enter a sentence:')
Sentence = ask.split()
print('Word Count:',len(Sentence))

Enter a sentence:Raman is learning programming.
Word Count: 4

Q.1 What is Pandas in Python?

Pandas is an open-source library in Python used for data manipulation and analysis. This pandas tutorial python introduces the core concepts and shows how to use python pandas effectively.

In [75]:
import pandas as pd

In [76]:
#series

s = pd.Series([10,20,30,40,50])
s.name = "calories"
s

0    10
1    20
2    30
3    40
4    50
Name: calories, dtype: int64

In [77]:
s.dtype

dtype('int64')

In [78]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [79]:
s.name = "calories"
s

0    10
1    20
2    30
3    40
4    50
Name: calories, dtype: int64

In [80]:
# Indexing
s[0]

np.int64(10)

In [81]:
s[0:2] #start(included) : stop (excluded): step value (values to jump)

0    10
1    20
Name: calories, dtype: int64

In [82]:
s[2:4]

2    30
3    40
Name: calories, dtype: int64

In [83]:
s[[1,2]]

1    20
2    30
Name: calories, dtype: int64

In [84]:
# iloc -> location based indexing

s.iloc[[1,3,4]]

1    20
3    40
4    50
Name: calories, dtype: int64

In [85]:
index = ["apple", "banana", "grapes", "orange", "strawberry"]

In [86]:
s.index = index
s

apple         10
banana        20
grapes        30
orange        40
strawberry    50
Name: calories, dtype: int64

In [87]:
s['grapes']

np.int64(30)

In [88]:
# loc -> label based indexing
s.loc['grapes']

np.int64(30)

In [89]:
# In label based indexing your start as well as stop value both are included in the output.

s['banana': 'orange']

banana    20
grapes    30
orange    40
Name: calories, dtype: int64

In [90]:
fruit_protein = {
    "Avocado": 2.0,   # grams of protein
    "Guava": 2.6,
    "Blackberries": 2.0,
    "Oranges": 0.9,
    "Banana": 1.1,
    "Apples": 0.3,
    "kiwi": 1.1,
    "pomegranate": 1.7,
    "Mango": 0.8,
    "Cherries": 1.0
}

In [91]:
s2 = pd.Series(fruit_protein, name = "protein")
s2

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
kiwi            1.1
pomegranate     1.7
Mango           0.8
Cherries        1.0
Name: protein, dtype: float64

In [92]:
# conditional selection

s2>1

Avocado          True
Guava            True
Blackberries     True
Oranges         False
Banana           True
Apples          False
kiwi             True
pomegranate      True
Mango           False
Cherries        False
Name: protein, dtype: bool

In [93]:
s2[s2>1]

Avocado         2.0
Guava           2.6
Blackberries    2.0
Banana          1.1
kiwi            1.1
pomegranate     1.7
Name: protein, dtype: float64

In [94]:
# Logical Operator: and, or, not

s2[(s2>0.5) & (s2<2)]

Oranges        0.9
Banana         1.1
kiwi           1.1
pomegranate    1.7
Mango          0.8
Cherries       1.0
Name: protein, dtype: float64

In [95]:
# Modifying the series

s2['Mango'] = 2.8

In [96]:
s2

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
kiwi            1.1
pomegranate     1.7
Mango           2.8
Cherries        1.0
Name: protein, dtype: float64

In [97]:
import numpy as np

In [98]:
# np.nan = Not a Number (representing missing data)

ser = pd.Series(['a', np.nan, 1, np.nan, 2,2])
ser.notnull().sum()

np.int64(4)

In [99]:
# Dataframes

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice"],
    "Age": [25, 30, 35, np.nan, 29, 25],
    "City": ["New York", "San Francisco", "Los Angeles", "Chicago", "Boston", "New York"],
    "Salary": [50000, 60000, np.nan,63000, 58000, 50000]
}

In [100]:
data

{'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice'],
 'Age': [25, 30, 35, nan, 29, 25],
 'City': ['New York',
  'San Francisco',
  'Los Angeles',
  'Chicago',
  'Boston',
  'New York'],
 'Salary': [50000, 60000, nan, 63000, 58000, 50000]}

In [101]:
df = pd.DataFrame(data)
df

      Name   Age           City   Salary
0    Alice  25.0       New York  50000.0
1      Bob  30.0  San Francisco  60000.0
2  Charlie  35.0    Los Angeles      NaN
3    David   NaN        Chicago  63000.0
4      Eve  29.0         Boston  58000.0
5    Alice  25.0       New York  50000.0

In [102]:
df.head(2)

    Name   Age           City   Salary
0  Alice  25.0       New York  50000.0
1    Bob  30.0  San Francisco  60000.0

In [103]:
df.tail(3)

    Name   Age      City   Salary
3  David   NaN   Chicago  63000.0
4    Eve  29.0    Boston  58000.0
5  Alice  25.0  New York  50000.0

In [104]:
# loc and iloc

df.iloc[1:3]

      Name   Age           City   Salary
1      Bob  30.0  San Francisco  60000.0
2  Charlie  35.0    Los Angeles      NaN

In [105]:
df.loc[1:3, ['Age', 'City']]

    Age           City
1  30.0  San Francisco
2  35.0    Los Angeles
3   NaN        Chicago

In [106]:
df[['Age', 'City']]

    Age           City
0  25.0       New York
1  30.0  San Francisco
2  35.0    Los Angeles
3   NaN        Chicago
4  29.0         Boston
5  25.0       New York

In [107]:
df.drop('Age', axis = 1) # inplace = True parameter <- to perform the operation in the original dataset.

      Name           City   Salary
0    Alice       New York  50000.0
1      Bob  San Francisco  60000.0
2  Charlie    Los Angeles      NaN
3    David        Chicago  63000.0
4      Eve         Boston  58000.0
5    Alice       New York  50000.0

In [108]:
df

      Name   Age           City   Salary
0    Alice  25.0       New York  50000.0
1      Bob  30.0  San Francisco  60000.0
2  Charlie  35.0    Los Angeles      NaN
3    David   NaN        Chicago  63000.0
4      Eve  29.0         Boston  58000.0
5    Alice  25.0       New York  50000.0

In [109]:
df.shape

(6, 4)

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Age     5 non-null      float64
 2   City    6 non-null      object
 3   Salary  5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 324.0+ bytes

In [111]:
df.describe()

             Age       Salary
count   5.000000      5.00000
mean   28.800000  56200.00000
std     4.147288   5932.95879
min    25.000000  50000.00000
25%    25.000000  50000.00000
50%    29.000000  58000.00000
75%    30.000000  60000.00000
max    35.000000  63000.00000

In [112]:
# Broadcasting

df["Salary"] = df["Salary"] + 5000

In [113]:
df["Salary"]

0    55000.0
1    65000.0
2        NaN
3    68000.0
4    63000.0
5    55000.0
Name: Salary, dtype: float64

In [114]:
# Renaming Columns

df.rename(columns={"Salary": "New Salary"}, inplace=True) # Renaming column

In [115]:
df

      Name   Age           City  New Salary
0    Alice  25.0       New York     55000.0
1      Bob  30.0  San Francisco     65000.0
2  Charlie  35.0    Los Angeles         NaN
3    David   NaN        Chicago     68000.0
4      Eve  29.0         Boston     63000.0
5    Alice  25.0       New York     55000.0

In [116]:
df["New Salary"].unique()

array([55000., 65000.,    nan, 68000., 63000.])

In [117]:
df["City"].value_counts()

City
New York         2
San Francisco    1
Los Angeles      1
Chicago          1
Boston           1
Name: count, dtype: int64

In [118]:
df["Promoted Salary"] = df["New Salary"] * 10

In [119]:
df

      Name   Age           City  New Salary  Promoted Salary
0    Alice  25.0       New York     55000.0         550000.0
1      Bob  30.0  San Francisco     65000.0         650000.0
2  Charlie  35.0    Los Angeles         NaN              NaN
3    David   NaN        Chicago     68000.0         680000.0
4      Eve  29.0         Boston     63000.0         630000.0
5    Alice  25.0       New York     55000.0         550000.0

In [120]:
# Data Cleaning

df.isnull().sum() # Showing null value

Name               0
Age                1
City               0
New Salary         1
Promoted Salary    1
dtype: int64

In [121]:
df["Dept"] = ['HR', 'IT', 'Finance', 'IT', 'HR', 'HR'] # Add new column department

In [122]:
df

      Name   Age           City  New Salary  Promoted Salary     Dept
0    Alice  25.0       New York     55000.0         550000.0       HR
1      Bob  30.0  San Francisco     65000.0         650000.0       IT
2  Charlie  35.0    Los Angeles         NaN              NaN  Finance
3    David   NaN        Chicago     68000.0         680000.0       IT
4      Eve  29.0         Boston     63000.0         630000.0       HR
5    Alice  25.0       New York     55000.0         550000.0       HR

In [123]:
df.dropna() # Any row that had null value has been removed.

    Name   Age           City  New Salary  Promoted Salary Dept
0  Alice  25.0       New York     55000.0         550000.0   HR
1    Bob  30.0  San Francisco     65000.0         650000.0   IT
4    Eve  29.0         Boston     63000.0         630000.0   HR
5  Alice  25.0       New York     55000.0         550000.0   HR

In [124]:
df

      Name   Age           City  New Salary  Promoted Salary     Dept
0    Alice  25.0       New York     55000.0         550000.0       HR
1      Bob  30.0  San Francisco     65000.0         650000.0       IT
2  Charlie  35.0    Los Angeles         NaN              NaN  Finance
3    David   NaN        Chicago     68000.0         680000.0       IT
4      Eve  29.0         Boston     63000.0         630000.0       HR
5    Alice  25.0       New York     55000.0         550000.0       HR

In [125]:

df.dropna(how = "all") # Any row that had all null value has been removed.

      Name   Age           City  New Salary  Promoted Salary     Dept
0    Alice  25.0       New York     55000.0         550000.0       HR
1      Bob  30.0  San Francisco     65000.0         650000.0       IT
2  Charlie  35.0    Los Angeles         NaN              NaN  Finance
3    David   NaN        Chicago     68000.0         680000.0       IT
4      Eve  29.0         Boston     63000.0         630000.0       HR
5    Alice  25.0       New York     55000.0         550000.0       HR

In [126]:
df.dropna(how = "any") # any row that had any null value

    Name   Age           City  New Salary  Promoted Salary Dept
0  Alice  25.0       New York     55000.0         550000.0   HR
1    Bob  30.0  San Francisco     65000.0         650000.0   IT
4    Eve  29.0         Boston     63000.0         630000.0   HR
5  Alice  25.0       New York     55000.0         550000.0   HR

# Missing Value
1. Getting rid by - dropna()
2. filling them up - fillna()
   fillna() - A. Forward fill
              B. Backward fill

In [127]:
df["Age"].fillna(df["Age"].mean())

0    25.0
1    30.0
2    35.0
3    28.8
4    29.0
5    25.0
Name: Age, dtype: float64

In [129]:
df["New Salary"].fillna(df["New Salary"].median())

0    55000.0
1    65000.0
2    63000.0
3    68000.0
4    63000.0
5    55000.0
Name: New Salary, dtype: float64

In [130]:
df["Age"].fillna(method = "ffill") # forward fill

/tmp/ipython-input-3137181526.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Age"].fillna(method = "ffill") # forward fill

0    25.0
1    30.0
2    35.0
3    35.0
4    29.0
5    25.0
Name: Age, dtype: float64

In [131]:
df["Age"].fillna(method = "bfill") # backward fill

/tmp/ipython-input-3691436789.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Age"].fillna(method = "bfill") # backward fill

0    25.0
1    30.0
2    35.0
3    29.0
4    29.0
5    25.0
Name: Age, dtype: float64

In [132]:
df

      Name   Age           City  New Salary  Promoted Salary     Dept
0    Alice  25.0       New York     55000.0         550000.0       HR
1      Bob  30.0  San Francisco     65000.0         650000.0       IT
2  Charlie  35.0    Los Angeles         NaN              NaN  Finance
3    David   NaN        Chicago     68000.0         680000.0       IT
4      Eve  29.0         Boston     63000.0         630000.0       HR
5    Alice  25.0       New York     55000.0         550000.0       HR

In [139]:
df["Name"] = df["Name"].replace("Charlie", "Rose")

In [140]:
df

    Name   Age           City  New Salary  Promoted Salary     Dept
0  Alice  25.0       New York     55000.0         550000.0       HR
1    Bob  30.0  San Francisco     65000.0         650000.0       IT
2   Rose  35.0    Los Angeles         NaN              NaN  Finance
3  David   NaN        Chicago     68000.0         680000.0       IT
4    Eve  29.0         Boston     63000.0         630000.0       HR
5  Alice  25.0       New York     55000.0         550000.0       HR

In [143]:
# Duplicate Value

df_dup = df[df.duplicated(keep = "last")]
df_dup

    Name   Age      City  New Salary  Promoted Salary Dept
0  Alice  25.0  New York     55000.0         550000.0   HR

In [145]:
# invalid values
# Lambda ->

df["New Salary"] = df["New Salary"].apply(lambda x: x/10 if x > 65000 else x)

In [146]:
df

    Name   Age           City  New Salary  Promoted Salary     Dept
0  Alice  25.0       New York      5500.0         550000.0       HR
1    Bob  30.0  San Francisco      6500.0         650000.0       IT
2   Rose  35.0    Los Angeles         NaN              NaN  Finance
3  David   NaN        Chicago      6800.0         680000.0       IT
4    Eve  29.0         Boston      6300.0         630000.0       HR
5  Alice  25.0       New York      5500.0         550000.0       HR